.StructureDataTable
{
    width: 100%;
    font-size: 1.15em;
}

.StructureDataTable tbody tr:nth-child(even) 
{
    background-color: var(--primary-bg);
}

.StructureDataTable tbody tr:nth-child(odd) 
{
    background-color: var(--secondary);
}

.StructureActionField
{
    display: flex;
    flex-direction: row;
}

.StructureActionField > button
{
    
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
    font-weight: 400;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
}