.ResizeHandle.Horizontal
{
    display: flex;
    width: 4px;
    height: 100%;
    background-color: var(--secondary);
    border: 1px solid var(--secondary-border);
    border-top: 0;
    border-bottom: 0;
    cursor: ew-resize;
    align-items: center;
    z-index: 999;
}

.ResizeHandle.Vertical
{
    min-height: 4px;
    width: 100%;
    background-color: var(--secondary);
    border: 1px solid var(--secondary-border);
    border-left: 0;
    border-right: 0;
    cursor: ns-resize;
    z-index: 999;
}

.ResizeHandle:hover
{
    background-color: var(--secondary-border);
}
