.SideBarContainer
{
    display: flex;
    flex-direction: row;
    width: 400px;
    max-width: 400px;
    border-right: 3px solid var(--secondary);
    flex-grow: 1;
    flex-shrink: 0;
}

.SideBarMenu
{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    height: 100%;
    width: 64px;
    min-width: 64px;
    flex-basis: auto;
    border-right: 1px solid var(--primary);
}

.SideBarMenu > input[type="checkbox"], .SideBarMenu > button
{
    border-radius: 0;
    width: 100%;
    height: 54px;
    background-position: center;
    background-repeat: no-repeat;
    appearance: none;
    cursor: pointer;
}


.SideBarMenu > input[type="checkbox"]:checked
{
    background-color: var(--secondary);
}

.SideBarMenu > input[type="checkbox"]:hover
{
    background-color: var(--primary-bg);    
}

.BottomOfSideBar
{
    margin-top: auto;
}

.DatabaseIcon
{
    background-image: url("../../../assets/database-icon.png");

}

.DatabaseIcon:checked, .DatabaseIcon:hover
{
    background-image: url("../../../assets/database-icon-active.png");
}

.TablesIcon
{
    background-image: url("../../../assets/paper-icon.png");
}

.TablesIcon:checked, .TablesIcon:hover
{
    background-image: url("../../../assets/paper-icon-active.png");
}


.SettingsIcon
{
    background-image: url("../../../assets/settings-icon.png");
}

.SettingsIcon:checked, .SettingsIcon:hover
{
    background-image: url("../../../assets/settings-icon-active.png");
}

.LogoutIcon
{
    background-image: url("../../../assets/logout-icon.png");
}

.LogoutIcon:hover
{
    background-image: url("../../../assets/logout-icon-active.png");
}

