.FieldSet
{
    background-color: var(--primary-bg);
    border-radius: 5px;
    border: 1px solid  var(--primary-border);
}

.Legend
{
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    border-radius: 5px;;
    padding: 5px;
    text-align: left;
    font-weight: 500;
    font-size: 1.25em;
}